<div class="max-h-screen flex items-center justify-center rounded-xl mt-10">
    <div class="bg-base-200 p-8  rounded-lg shadow-lg xl:w-96 sm:w-64">
        <h2 class="text-2xl font-bold mb-6 text-center">Iniciar Sesión</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
            class="flex flex-col gap-2">
            <div class="form-control">
                <label class="label label-text font-semibold mb-2">Email: </label>
                <input type="email" class="input input-bordered w-full focus:input-neutral mb-2" formControlName="email" placeholder="Correo Electronico" required/>
            </div>
            <div class="form-control mb-6 relative">
                <label class="label label-text font-semibold mb-2">Contraseña:</label>
                <input  
                  type="password"
                    class="input input-bordered w-full focus:input-neutral password" 
                    formControlName="password" required placeholder="Contaseña"
                />
                
            </div>
            <button type="submit" class="btn btn-secondary w-full"
            >
                Ingresar
            </button>
        </form>
        <div class="my-4 flex items-center">
          <div class="flex-1 h-px bg-gray-200"></div>
          <div class="px-3 text-sm text-gray-500">o</div>
          <div class="flex-1 h-px bg-gray-200"></div>
        </div>
    
        <div id="g_id_signin" class="w-full flex justify-center"></div>
        <!-- <button 
          type="button"
          (click)="promptOneTap()"
                class="w-full flex items-center justify-center gap-3 border rounded py-2 hover:bg-gray-50">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 48 48">
            <path fill="#fbc02d" d="M43.6 20.5H42V20H24v8h11.3C33.4 32.7 29.1 36 24 36c-6.6 0-12-5.4-12-12s5.4-12 12-12c3.1 0 5.9 1.1 8.1 3l5.6-5.6C33.9 4.9 29.2 3 24 3 12.9 3 4 11.9 4 23s8.9 20 20 20c11.1 0 20-8.9 20-20 0-1.3-.1-2.6-.4-3.8z"/>
            <path fill="#f44336" d="M6.3 14.8l6.5 4.7C14.4 16.2 18.8 13 24 13c3.1 0 5.9 1.1 8.1 3l5.6-5.6C33.9 4.9 29.2 3 24 3 17 3 11.1 6.8 6.3 14.8z"/>
            <path fill="#4caf50" d="M24 43c5.1 0 9.8-1.9 13.3-5.1l-6.1-5.7C29.9 33.9 27.1 35 24 35c-5.1 0-9.4-3.3-11.7-8.1l-6.5 4.9C4 36.1 12.9 45 24 45z"/>
            <path fill="#1976d2" d="M43.6 20.5H42V20H24v8h11.3c-1.2 3.7-4.2 6.8-8.3 8.3v6.5C34.8 40.9 41 35 43.6 20.5z"/>
          </svg>
          Entrar con Google
        </button> -->
    
        <p class="text-center text-sm text-gray-600 mt-4">
          ¿No tienes cuenta? <a [routerLink]="'/auth/register'" class="text-blue-600 hover:underline">Regístrate</a>
        </p>
    </div>
</div>


@if (showError()) {
  <div role="alert" class="alert alert-error fixed top-4 left-1/2 transform -translate-x-1/2 z-50 w-full">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span class="text-sm">
      No pudimos iniciar sesión. Por favor, verifique la información ingresada
    </span>
  </div>
}