<div class="max-h-screen flex items-center justify-center rounded-xl mt-10">
    <div class="bg-base-200 p-8  rounded-lg shadow-lg xl:w-96 sm:w-64">
        <h2 class="text-2xl font-bold mb-6 text-center">Iniciar Sesión</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
            class="flex flex-col gap-2">
            <div class="form-control">
                <label class="label label-text font-semibold mb-2">Correo Electrónico: </label>
                <input type="email" class="input input-bordered w-full focus:input-neutral mb-2" formControlName="email" placeholder="Correo Electrónico" required/>
            </div>
            <div class="form-control mb-6 relative">
                <label class="label label-text font-semibold mb-2">Contraseña:</label>
                <input  
                  type="password"
                    class="input input-bordered w-full focus:input-neutral password" 
                    formControlName="password" required placeholder="Contraseña"
                />
                
            </div>
            <button type="submit" class="btn btn-secondary w-full"
            >
                Ingresar
            </button>
        </form>
        <div class="my-4 flex items-center">
          <div class="flex-1 h-px bg-gray-200"></div>
          <div class="px-3 text-sm text-gray-500">o</div>
          <div class="flex-1 h-px bg-gray-200"></div>
        </div>
    
        <div id="g_id_signin" class="w-full flex justify-center"></div>    
        <p class="text-center text-sm text-gray-600 mt-4">
          ¿No tienes cuenta? <a [routerLink]="'/auth/register'" class="text-blue-600 hover:underline">Regístrate</a>
        </p>
    </div>
</div>

<shared-loading></shared-loading>

@if (showError()) {
  <div role="alert" class="alert alert-error fixed top-4 left-1/2 transform -translate-x-1/2 z-50 w-full">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span class="text-sm">
      No pudimos iniciar sesión. Por favor, verifique la información ingresada
    </span>
  </div>
}