<div class="w-full p-3 text-base-content sm:p-4">
    <shared-header-back [title]="'Detalles del Evento'" (back)="goBack()"/>
    <div class="card bg-base-200 shadow-sm">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-0 md:gap-0">
            <!-- 1) Imagen del evento -->
            <figure class="md:col-span-5 h-48 bg-base-300">
                @if (event?.imageUrl) {
                    <img
                        [src]="event?.imageUrl"
                        [alt]="event?.name"
                        class="w-full h-48 sm:h-64 md:h-full object-cover rounded-l-2xl sm:rounded-2xl"
                    /> 
                } @else {
                    <div class="flex items-center justify-center text-lg uppercase">
                        {{ event?.name?.charAt(0) }}
                    </div>
                }
            </figure>
            <!-- 2) Fecha (mes, día, año) -->
            <section
                class="md:col-span-2 flex items-center justify-center border-t md:border-t-0 md:border-l border-base-300 p-4"
                aria-label="Fecha del evento"
            >
                <div class="bg-base-100 rounded-xl shadow px-6 py-4 text-center w-full max-w-40">
                    <div class="uppercase tracking-wide text-sm font-semibold text-primary">
                        {{ event?.dateTime| date: 'MMM' }}
                    </div>
                    <div class="text-4xl font-extrabold leading-none my-1">
                        {{ event?.dateTime | date: 'dd' }} 
                    </div>
                    <div class="text-xs opacity-70">
                        {{ event?.dateTime | date: 'yyyy' }}
                    </div>
                </div>
            </section>
            <!-- 3) Lugar, hora | artista -->
            <section
                class="md:col-span-5 border-t md:border-t-0 md:border-l border-base-300 p-4 flex flex-col"
                aria-label="Detalles del evento"
            >
                <!-- Lugar (arriba) -->
                <div class="mb-3 flex items-center justify-center">
                    <h2 class="text-xl font-semibold">{{ event?.location }}</h2>
                </div>
                <!-- Línea divisoria + hora | artista -->
                <div class="mt-auto">
                    <div class="flex flex-col md:flex-row gap-2 md:gap-4 divide-y md:divide-y-0 md:divide-x divide-base-300 justify-center items-center">
                        <div class="py-2 md:py-0 md:pr-4">
                            <span class="text-sm opacity-70 block">Hora</span>
                            <span class="text-lg font-medium">{{ event?.dateTime| date: 'HH:mm' }}</span>
                        </div>
                        <div class="py-2 md:py-0 md:pl-4">
                            <span class="text-sm opacity-70 block">Artista</span>
                            <span class="text-lg font-medium">{{ event?.name }}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="card bg-base-200 mt-4 shadow-sm flex flex-col">
        <div class="w-full p-4 flex flex-col md:flex-row gap-6 items-start">
            <div class="flex-1 min-w-0">
                <span class="text-sm text-gray-400">Casa organizadora</span>
                <h3 class="text-2xl md:text-3xl font-bold mb-6">{{event?.organizingHouse?.name}}</h3>
                <p class="text-sm md:text-base ">{{event?.description}}</p>
            </div>
            <div class="p-6">
                <a [routerLink]="['/tickets', 'buy-ticket', event?.eventId]" class="btn  btn-xl btn-primary">
                    Comprar Boleto
                </a>
            </div>
        </div>
        <div class="pr-6 pl-6 pb-6">
            <div class="overflow-x-auto">
                <table class="table-sm md:table w-full bg-base-100">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Cantidad disponibles</th>
                            <th class="text-right">Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (typeTicket of event?.ticketTypes; track $index) {
                            <tr>
                                <td class="text-sm font-semibold sm:text-lg uppercase">{{ typeTicket.name }}</td>
                                <td class="text-sm md:text-base">{{ typeTicket.availableQuantity }}</td>
                                <td class="text-right text-sm font-sans md:text-lg">${{ typeTicket.price }}</td>
                            </tr>
                        } 
                        <!-- empty -->
                        @empty {
                            <div class="text-center py-4 italic text-gray-500">
                                No hay tipos de boletos disponibles.
                            </div>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>