<div class="min-h-screen w-full">
    <shared-header-back [title]="'Detalles del Evento'" (back)="goBack()"/>
    <div class="flex flex-col p-2">
        <div class="card w-full bg-base-200 rounded-lg">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-start">
                <!-- LEFT: info compacta -->
                <div class="flex flex-col justify-start space-y-3 pl-14 py-8">
                    <h2 class="text-lg md:text-2xl font-bold leading-tight">{{eventById?.title}}</h2>
                    <p class="text-sm text-gray-600 line-clamp-3">{{eventById?.description}}</p>
                    
                    <div class="grid gap-2 text-sm mt-2">
                        <div class="flex items-center gap-3">
                            <span class="text-gray-600">{{eventById?.date| date:'d \'de\' MMMM \'de\' y, HH:mm'}}</span>
                        </div>
                        <div class="flex items-center gap-3">
                            <span class="text-gray-600">{{eventById?.location}}</span>
                        </div>
                    </div>
                </div>
                
                <!-- RIGHT: imagen compacta + estado + editar -->
                <div class="flex flex-col items-stretch px-4 py-3">
                    <figure class="w-full h-36 md:h-44 overflow-hidden rounded-lg">
                        <img
                            src="{{ eventById?.image }}"
                            alt="{{eventById?.title}}"
                            class="w-full h-full object-cover"
                        />
                    </figure>
                    
                    <div class=" mt-2 flex justify-end items-center gap-3">
                        <a [routerLink]="['/admin', 'events', 'update-event', eventById?.id]"
                            class="btn btn-sm btn-ghost btn-circle"

                        >
                            <mat-icon class="text-base">edit</mat-icon>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mt-4">
            <div class="flex flex-col">
                <span class="text-lg md:text-2xl font-semibold">Boletos Vendidos</span>
                
                <label class="input input-bordered input-sm mt-2 w-full max-w-xs">
                    <svg class="h-4 w-4 opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                            <circle cx="11" cy="11" r="8"></circle>
                            <path d="m21 21-4.3-4.3"></path>
                        </g>
                    </svg>
                    <input class="flex-1" type="search" placeholder="Buscar boleto..." />
                </label>
                
                <div class="overflow-x-auto mt-3">
                    <table class="table w-full bg-base-200">
                        <thead>
                            <tr class="font-semibold text-sm">
                                <th>#</th>
                                <th>Comprador</th>
                                <th>Correo</th>
                                <th>Metodo de Pago</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody class="text-sm">
                            @for (ticket of allTickets; track $index) {
                                <tr class="hover:bg-base-200">
                                    <th>{{ticket.id}}</th>
                                    <td>{{ticket.buyer.name}}</td>
                                    <td>{{ticket.buyer.correo}}</td>
                                    <td>{{ticket.method_payment}}</td>
                                    <td>{{ticket.parchaseDate}}</td>
                                    <td>{{ticket.status}}</td>
                                </tr>
                            }
                            <!-- <tr class="hover:bg-base-200">
                                <th>2</th>
                                <td>Jose Perez</td>
                                <td>jose@example.com</td>
                                <td>PayPal</td>
                                <td>12/12/2023</td>
                                <td>Inactivo</td>
                            </tr>
                            <tr class="hover:bg-base-200">
                                <th>3</th>
                                <td>Estefania Pacheco</td>
                                <td>estefania.pacheco@example.com</td>
                                <td>Tarjeta de Credito</td>
                                <td>12/12/2023</td>
                                <td>Activo</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="w-full flex flex-row items-center justify-between mt-1">
                    <span class="text-md font-light truncate">Total de boletos vendidos: 200</span>
                    <span class="text-md font-light truncate">Ingreso Total: $4000.00</span>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <div class="flex flex-col justify-center items-start">
                    <span class="text-lg md:text-2xl font-semibold mb-2">Productos Vendidos</span>
                    <div class="overflow-x-auto">
                        <table class="table bg-base-200">
                            <!-- head -->
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Stock</th>
                                    <th>Vendidos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <div class="flex items-center gap-3">
                                            <div class="avatar">
                                                <div class="mask mask-squircle h-12 w-12">
                                                    <img src="https://img.freepik.com/psd-gratis/refrescante-bebida-cola-fria-vaso-salpicaduras_632498-25634.jpg?semt=ais_hybrid&w=740&q=80" alt="Producto 1">
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        Bebida Cola
                                        <br />
                                        <span class="badge badge-ghost badge-sm">Bebida</span>
                                    </th>
                                    <td>
                                        $20.00
                                    </td>
                                    <td>
                                        35
                                    </td>
                                    <td>
                                        $200.00
                                    </td>
                                </tr>
                                <!-- row 2 -->
                                <tr>
                                    <th>
                                        <div class="flex items-center gap-3">
                                            <div class="avatar">
                                                <div class="mask mask-squircle h-12 w-12">
                                                    <img src="https://png.pngtree.com/png-vector/20210630/ourmid/pngtree-t-shirt-clothes-casual-shirt-png-image_3544180.jpg" alt="Producto 2">
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        Camiseta Oficial
                                        <br />
                                        <span class="badge badge-ghost badge-sm">Ropa</span>
                                    </td>
                                    <td>
                                        $150.00
                                    </td>
                                    <td>
                                        20
                                    </td>
                                    <td>
                                        $3000.00
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-2">
                        <button class="btn">+ Agrear Producto</button>
                    </div>
                </div>
                <div class="card bg-base-200 p-6 flex flex-col items-center justify-start">
                    <span class="text-lg font-medium truncate">Ventas totales:</span>
                    <span class="mt-2 text-2xl font-light">$3,200.00</span>
                    <span class="mt-4 text-lg font-medium truncate">Productos vendidos:</span>
                    <span class="mt-2 text-xl font-light">160</span>
                    <span class="mt-4 text-lg font-medium truncate">Stock restante promedio:</span>
                    <span class="mt-2 text-xl font-light">80</span>
                </div>
            </div>
        </div>
    </div>
</div>