<div class="grid grid-cols-1 text-base-content md:grid-cols-2">

  <div class="bg-base-200 w-full">
    <div class="flex flex-col p-4 items-center justify-center">
      <h3 class="text-xl truncate uppercase font-bold">Registro</h3>
      <p class="text-center text-sm text-gray-600 mt-4">
        ¿Tienes una cuenta? <a [routerLink]="'/auth/login'" class="text-blue-600 hover:underline">Iniciar Sesión</a>
      </p>
      <div class="mt-3 w-full max-w-xl">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- Select rol -->
          <div class="form-control flex md:flex-row flex-col gap-2 items-center justify-between mb-4">
            <button type="button" class="btn btn-outline"
              [class.btn-primary]="registerForm.get('role')?.value === 1"
              [class.btn-active]="registerForm.get('role')?.value === 1"
              (click)="setRole(1)">Organizador</button>

            <button type="button" class="btn btn-outline"
              [class.btn-primary]="registerForm.get('role')?.value === 0"
              [class.btn-active]="registerForm.get('role')?.value === 0"
              (click)="setRole(0)">Asistente</button>
          </div>

          <!-- Nombre / Apellidos -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <div class="form-control">
              <label class="label label-text font-semibold mb-2">Nombre(s) <span class="text-red-400">*</span></label>
              <input type="text" class="input input-bordered w-full focus:input-neutral mb-2"
                formControlName="firstName" placeholder="Nombre(s)" required />
                @if (registerForm.get('firstName')?.touched && registerForm.get('firstName')?.hasError('required')) {
                  <p class="text-xs text-error mt-1" >Campo Obligatorio</p>
                }
            </div>

            <div class="form-control">
              <label class="label label-text font-semibold mb-2">Apellido(s) <span class="text-red-400">*</span></label>
              <input type="text" class="input input-bordered w-full focus:input-neutral mb-2"
                formControlName="lastName" placeholder="Apellido(s)" required />
                @if (registerForm.get('lastName')?.touched && registerForm.get('lastName')?.hasError('required')) {
                  <p class="text-xs text-error mt-1">Campo Obligatorio</p>
                }
            </div>
          </div>

          <!-- Email -->
          <div class="form-control">
            <label class="label label-text font-semibold mb-2">Email <span class="text-red-400">*</span></label>
            <input type="email" class="input input-bordered w-full focus:input-neutral mb-2" formControlName="email"
              placeholder="Correo Electrónico" required />
              @if (registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required') || registerForm.get('email')?.touched && registerForm.get('email')?.hasError('email')) {
                <p class="text-xs text-error mt-1">Campo Obligatorio o Email inválido</p>
              }
          </div>

          <!-- Campos específicos ORGANIZADOR -->
          @if (isOrganizer) {
            <div class="space-y-2">
              <div class="form-control">
                <label class="label label-text font-semibold mb-2">Empresa / Razón social</label>
                <input type="text" class="input input-bordered w-full focus:input-neutral mb-2" formControlName="company"
                  placeholder="Empresa / Razón social" />
              </div>
  
              <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <div class="form-control">
                  <label class="label label-text font-semibold mb-2">Tax ID (RFC) <span class="text-xs text-red-400">*</span></label>
                  <input type="text" class="input input-bordered w-full focus:input-neutral mb-2" formControlName="taxId"
                    placeholder="RFC / Tax ID" required />
                    @if (registerForm.get('taxId')?.touched && registerForm.get('taxId')?.hasError('required')) {
                      <p class="text-xs text-error mt-1">Campo Obligatorio</p>
                    }
                </div>
  
                <div class="form-control">
                  <label class="label label-text font-semibold mb-2">Contacto <span class="text-xs text-red-400">*</span></label>
                  <input type="text" class="input input-bordered w-full focus:input-neutral mb-2"
                    formControlName="organizingHouseContact" placeholder="Teléfono / contacto" required/>
                    @if (registerForm.get('organizingHouseContact')?.touched && registerForm.get('organizingHouseContact')?.hasError('required')) {
                      <p class="text-xs text-error mt-1">Campo Obligatorio</p>
                    }
                </div>
              </div>
  
              <div class="form-control">
                <label class="label label-text font-semibold mb-2">Dirección fiscal</label>
                <input type="text" class="input input-bordered w-full focus:input-neutral mb-2"
                  formControlName="fiscalAddress" placeholder="Dirección fiscal" />
              </div>
  
              <div class="form-control">
                <label class="label label-text font-semibold mb-2">Nombre de la casa organizadora <span class="text-xs text-red-400">*</span></label>
                <input type="text" class="input input-bordered w-full focus:input-neutral mb-2"
                  formControlName="organizingHouseName" placeholder="Nombre de la casa organizadora" required/>
                  @if (registerForm.get('organizingHouseName')?.touched && registerForm.get('organizingHouseName')?.hasError('required')) {
                    <p class="text-xs text-error mt-1">Campo Obligatorio</p>
                  }
              </div>
  
              <div class="form-control">
                <label class="label label-text font-semibold mb-2">Dirección de la casa organizadora <span class="text-xs text-red-400">*</span></label>
                <input type="text" class="input input-bordered w-full focus:input-neutral mb-2"
                  formControlName="organizingHouseAddress" placeholder="Dirección de la casa organizadora" required/>
                  @if (registerForm.get('organizingHouseAddress')?.touched && registerForm.get('organizingHouseAddress')?.hasError('required')) {
                    <p class="text-xs text-error mt-1">Campo Obligatorio</p>
                  }
              </div>
  
              <div class="form-control">
                <label class="label label-text font-semibold mb-2">Datos fiscales adicionales</label>
                <input type="text" class="input input-bordered w-full focus:input-neutral mb-2"
                  formControlName="organizingHouseTaxData" placeholder="Datos fiscales adicionales" />
              </div>
            </div>
            @if (!isSocial) {
              <div class="form-control">
                <label class="label label-text font-semibold mb-2">Contraseña <span class="text-xs text-red-400">*</span></label>
                <input type="password" class="input input-bordered w-full focus:input-neutral mb-2" formControlName="password"
                  placeholder="Contraseña" required />
                  @if (registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')) {
                    <p class="text-xs text-error mt-1">Campo Obligatorio</p>
                  }
                  @if (registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')) {
                    <p class="text-xs text-error mt-1">La contraseña debe tener al menos 6 caracteres.</p>
                  }
              </div>

              <div class="form-control">
                <label class="label label-text font-semibold mb-2">Confirmar Contraseña <span class="text-xs text-red-400">*</span></label>
                <input type="password" class="input input-bordered w-full focus:input-neutral mb-2"
                  formControlName="confirmPassword" placeholder="Confirmar Contraseña" required />
                  @if (registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.hasError('required')) {
                    <p class="text-xs text-error mt-1">Campo Obligatorio</p>
                  }
                  @if (passwordMismatch) {
                    <p class="text-xs text-warning mt-1">Las contraseñas no coinciden.</p>
                  }
              </div>
            } @else {
              <div role="alert" class="alert alert-warning">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                </svg>
                <span>Registro con Google detectado: no es necesario establecer una contraseña.</span>
                <hr>
                <span class="text-xs">Pero si debes de rellenar con campos faltantes</span>
              </div>
            }
          }

          <!-- Campos específicos ASISTENTE -->
          @if (!isOrganizer) {
            <div class="space-y-2">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                <div class="form-control">
                  <label class="label label-text font-semibold mb-2">Fecha de nacimiento</label>
                  <input type="date" class="input input-bordered w-full focus:input-neutral mb-2"
                    formControlName="dateOfBirth" />
                </div>
  
                <div class="form-control">
                  <label class="label label-text font-semibold mb-2">Género</label>
                  <select class="select select-bordered w-full" formControlName="gender">
                    <option value="">Seleccionar</option>
                    <option value="male">Masculino</option>
                    <option value="female">Femenino</option>
                    <option value="other">Otro</option>
                  </select>
                </div>
              </div>
            </div>
            @if (!isSocial) {
              <div class="form-control">
                <label class="label label-text font-semibold mb-2">Contraseña <span class="text-xs text-red-400">*</span></label>
                <input type="password" class="input input-bordered w-full focus:input-neutral mb-2" formControlName="password"
                  placeholder="Contraseña" />
                  @if (registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')) {
                    <p class="text-xs text-error mt-1">Campo Obligatorio</p>
                  }
                  @if (registerForm.get('password')?.touched && registerForm.get('password')?.hasError('minlength')) {
                    <p class="text-xs text-error mt-1">La contraseña debe tener al menos 6 caracteres.</p>
                  }
              </div>

              <div class="form-control">
                <label class="label label-text font-semibold mb-2">Confirmar Contraseña <span class="text-xs text-red-400">*</span></label>
                <input type="password" class="input input-bordered w-full focus:input-neutral mb-2"
                  formControlName="confirmPassword" placeholder="Confirmar Contraseña" />
                  @if (registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.hasError('required')) {
                    <p class="text-xs text-error mt-1">Campo Obligatorio</p>
                  }
                  @if (passwordMismatch) {
                    <p class="text-xs text-warning mt-1">Las contraseñas no coinciden.</p>
                  }
              </div>
            } @else {
              <div class="alert alert-info mt-2">Registro con Google detectado: no es necesario establecer una contraseña.</div>
            }
          }

          <!-- Photo URL control removed from the form UI. Value is injected from social login or sent empty if none. -->
          <div class="form-control">
            <label class="flex items-center gap-3">
              <input type="checkbox" class="checkbox mt-1" formControlName="privacyPolicies" />
              <div>
                <div class="font-medium">Acepto las Políticas de Privacidad</div>
              </div>
            </label>
            @if (registerForm.get('privacyPolicies')?.touched && registerForm.get('privacyPolicies')?.hasError('required')) {
              <p class="text-xs text-error mt-1">Debes aceptar las Políticas de Privacidad</p>
            }
          </div>

          <div class="mt-4 w-full">
            <button type="submit" class="btn btn-neutral w-full" [disabled]="registerForm.invalid">Crear cuenta</button>
            <div class="divider text-gray-600"> o </div>
            <div id="g_id_signin" class="w-full flex justify-center"></div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="w-full"></div>
</div>

<shared-loading />